html, body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	overflow: hidden;
	background-color: #e2e1e0;
}
.main-container {
	position: relative;
	margin: 30px auto;
	height: 50em;
	width: 30em;
	overflow: auto;
}
.main-box {
	text-align: center;
	padding: 2em;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: white;
}
.main-box h1 {
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
}
.main-box p {
	font-size: 1.5em;
	padding-bottom: 2em; 
}
.home-button {
	padding: 5px;
	background-color: #2e1e0e;
	color: white;
	border-radius: 3px;
	margin-right: 5px;
	cursor: pointer;
}
.home-button:last-of-type {
	margin-right: 0;
}
.home-button:hover {
	color: #2e1e0e;
	background-color: #e2e1e0;
	text-decoration: none;
}

.head {
	width: 100%;
	height: 4em;
	background-color: #2e1e0e;
	color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.head-title {
	color: #e2e1e0;
	font-weight: bold;
	line-height: 4em;
	margin-right: 1em;
}
.head-button {
	color: black;
	background-color: white;
	text-transform: uppercase;
	padding: 5px;
	border-radius: 3px;
	line-height: 4em;
	cursor: pointer;
	margin-right: 5px;
}
.head-button:last-of-type {
	margin-right: 0;
}
.head-button:hover {
	color: #2e1e0e;
	background-color: #e2e1e0;
	text-decoration: none;
}
.head-button i {
	padding: 5px;
}

.wrapper {
	height: calc(100% - 4em);
}
.editor-container, .output-container {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	padding: 1.5em;
	overflow: auto;
}
.container-fluid {
	padding: 0px;
}

.editor-container {
	cursor: text;
}
.output-container {
}

.editor, .output {
	background-color: white;
	border-radius: 3px;
	padding: 0.5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	word-wrap: break-word;
	height: inherit;
	min-height: inherit;
}

.output {
	font-size: 1.5em;
}
.intro {
	text-align:center;
	font-size: 2em;
	color: #e2e1e0;
}

.intro i {
	font-size: 3em;
}

.editor {
	width: 100%;
	font-size: 1.5em;
	font-family: "Courier New", Courier, monospace;
	line-height: 1.2em;
	overflow: hidden;
	outline: none;

	-webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
}

.editor[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #2e1e0e; 
}

/* --- OUTPUT STYLE --- */

.output h1, .output h2, .output h3, .output h4, .output h5, .output h6 {
	font-weight: normal;
}

.output h1 { font-size: 4.0em; }
.output h2 { font-size: 3.5em; } 
.output h3 { font-size: 2.8em; }
.output h4 { font-size: 2.2em; }
.output h5 { font-size: 1.7em; }
.output h6 { font-size: 1.3em; }
.output hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.output table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	border: 1px solid #2e1e0e;
	border-radius: 4px;
	border-left: 0;
}

.output thead, .output tfoot {
	background-color: #2e1e0e;
	color: white;
	display: table-header-group;
}

.output tbody {
}

.output tr {
	display: table-row;
}

.output tr:nth-child(even) {
	background-color: #e2e1e0;
}

.output td, .output th {
	padding: 5px;
	border-left: 1px solid #2e1e0e;
	vertical-align: top;
}

.output blockquote {}

.output ol, .output ul {}
.output li {}

.output a {
	text-decoration: underline;
}

.output a:hover {
	color: #e2e1e0;
}

.output span {}

.output img {
	max-width: 100%;
}

