<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Markdown Pad | {{padId}} </title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/style/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js" integrity="sha256-3WZyZQOe+ql3pLo90lrkRtALrlniGdnf//gRpW0UQks=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.3.0/markdown-it-emoji.min.js" integrity="sha256-ndKMI4gIGE0b3XI9hXNJ5axM8YA9lXIjXuLh9Olc4hk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/script/jquery.caret.min.js"></script>
    <script src="/script/diff.min.js"></script>
    <script src="/script/markdown_editor.js"></script>
</head>

<body>
	<div class="head">
		<span class="head-title"> MarkdownPad </span>
		<a class="head-button" id="new" href="/pad/newpad" target="_blank" rel="nofollow"><i class="fa fa-file-text-o" aria-hidden="true"></i>New pad</a>
	</div>
	<div class="wrapper container-fluid">
		<div class="editor-container col-xs-6">
			<div class="editor" contenteditable="true" data-placeholder="Type something...">
# An exhibit of Markdown<br/>
This note demonstrates some of what MarkdownPad is capable of doing.<br/>
<br/>
*Note: Feel free to play with this page. Unlike regular notes, this doesn't automatically save itself.*<br/>
<br/>
## Basic formatting<br/>
Paragraphs can be written like so.<br/>
A paragraph is the basic block of Markdown. A paragraph is what text will turn into when there is no reason it should become anything else.<br/>
<br/>
Paragraphs must be separated by a blank line.<br/>
<br/>
### Emphasis<br/>
<br/>
**This is bold text**<br/>
<br/>
__This is also bold text__<br/>
<br/>
*This is italic text*<br/>
<br/>
_This is also italic text_<br/>
<br/>
~~Strikethrough~~<br/>
<br/>
They can be nested __*like this*__ or ***like this***.<br/>
<br/>
### Typographic replacements<br/>
There are some cool replacements available like:<br/>
<br/>
(c) (C) (r) (R) (tm) (TM) (Tm) (p) (P) +-<br/>
<br/>
test.. test... test..... test?..... test!....<br/>
<br/>
!!!!!! ???? ,, -- ---<br/>
<br/>
"double quotes" and 'single quotes'<br/>
<br/>
## Lists<br/>
### Ordered list<br/>
1. Item 1<br/>
2. A second item<br/>
3. Number 3<br/>
<br/>
1. You can use sequential numbers...<br/>
1. ...or keep all the numbers as `1.`<br/>
<br/>
Start numbering with offset:<br/>
<br/>
57. foo<br/>
1. bar<br/>
<br/>
*Note: You can create different lists one after another like this:*<br/>
<br/>
1. Item 1<br/>
2. A second item<br/>
1) Item 1 of another list<br/>
5. First Item of a new list with offset<br/>
<br/>
### Unordered list<br/>
* An item<br/>
* Another item<br/>
* Yet another item<br/>
<br/>
*Note: You can create different lists one after another like this:*<br/>
<br/>
* An item<br/>
* Another item<br/>
* Yet another item<br/>
* And there's more...<br/>
+ This is the first item of a new list<br/>
+ Second<br/>
- First again<br/>
<br/>
### Nested lists<br/>
1. Item 1<br/>
   * Sub1<br/>
   * Sub2<br/>
     * Sub Sub 1<br/>
       1. This is ordered<br/>
2. Item 2<br/>
3. Very easy!<br/>
<br/>
## Paragraph modifiers<br/>
### Code block<br/>
    Code blocks are very useful for developers and other people who look at code or other things that are written in plain text. As you can see, it uses a fixed-width font.<br/>
<br/>
Indented code<br/>
   <br/>
    // Some comments<br/>
    line 1 of code<br/>
    line 2 of code<br/>
    line 3 of code<br/>
<br/>
Block code "fences"<br/>
```<br/>
Sample text here...<br/>
```<br/>
<br/>
You can also make `inline code` to add code into other things.<br/>
<br/>
### Quote<br/>
&gt; Here is a quote. What this is should be self explanatory. Quotes are automatically indented when they are used.<br/>
&gt;<br/>
&gt; Blockquotes can also be nested...<br/>
&gt;&gt; ...by using additional greater-than signs right next to each other...<br/>
&gt; &gt; &gt; ...or with spaces between arrows.<br/>
<br/>
## Headings<br/>
There are six levels of headings. They correspond with the six levels of HTML headings. You've probably noticed them already in the page. Each level down uses one more hash character:<br/>
# h1<br/>
## h2<br/>
### h3<br/>
#### h4<br/>
##### h5<br/>
###### h6<br/>
<br/>
#### Headings *can* also contain **formatting**<br/>
#### They can even contain `inline code`<br/>
Of course, demonstrating what headings look like messes up the structure of the page.<br/>
<br/>
## Horizontal rule A horizontal rule is a line that goes across the middle of the page.<br/>
<br/>
___<br/>
---<br/>
***<br/>
<br/>
It's sometimes handy for breaking things up.<br/>
<br/>
## URLs<br/>
URLs can be made in a handful of ways:<br/>
* A named link to [Example](http://www.example.com)<br/>
* Sometimes you just want a URL like http://www.example.com.<br/>
<br/>
## Tables<br/>
| Column1 | Column2 |<br/>
| ------- | ------- |<br/>
| Some | text |<br/>
| Another | row of text |<br/>
<br/>
Right aligned columns<br/>
| Column1 | Column2 |<br/>
| -------:| -------:|<br/>
| Some | text |<br/>
| Another | row of text |<br/>
<br/>
Center aligned columns<br/>
| Column1 | Column2 |<br/>
|:-------:|:-------:|<br/>
| Some | text |<br/>
| Another | row of text |<br/>
<br/>
## Images<br/>
MarkdownPad can also contain images.<br/>
![Minion](https://octodex.github.com/images/minion.png)<br/>
![Stormtroopocat](https://octodex.github.com/images/stormtroopocat.jpg "The Stormtroopocat")<br/>
Like links, Images also have a footnote style syntax<br/>
<br/>
![Alt text][id]<br/>
<br/>
With a reference later in the document defining the URL location:<br/>
<br/>
[id]: https://octodex.github.com/images/dojocat.jpg "The Dojocat"<br/>
<br/>
## Emojies<br/>
&gt; Classic markup: :wink: :cry: :laughing: :yum:<br/>
&gt;&gt; Shortcuts (emoticons): :-) :-( 8-) ;)<br/>
<br/>
## HTML<br/>
You can use HTML tags, too.<br/>
&lt;div style="color: green"&gt;This is a green text div&lt;/div&gt;<br/>
&lt;span style="background-color: yellow; padding: 5px"&gt;highlighted text&lt;/span&gt;<br/>
<br/>
You can even do this:<br/>
&lt;canvas id="myCanvas" style="width: 100%; height: 60px; border: 1px solid black;"&gt;&lt;/canvas&gt;<br/>
&lt;!-- This is an HTML comment --&gt;<br/>
&lt;script&gt;<br/>
var canvas = document.getElementById("myCanvas");<br/>
var ctx = canvas.getContext("2d");<br/>
ctx.fillStyle = "#FF0000";<br/>
ctx.fillRect(0, 0, 80, 80);<br/>
&lt;/script&gt;<br/>
<br/>
*Note: Avoid using HTML if there's a pure markdown solution. Things can get complicated quickly.*<br/>
<br/>
*And remember:*<br/>
> With great power comes great responsibility
			</div>
		</div>
		<div class="output-container col-xs-6" >
			<div class="output">
			</div>
		</div>	
	</div>

</body>
</html>