<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Markdown Pad | {{padId}} </title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/style/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.3.1/markdown-it.min.js" integrity="sha256-3WZyZQOe+ql3pLo90lrkRtALrlniGdnf//gRpW0UQks=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it-emoji/1.3.0/markdown-it-emoji.min.js" integrity="sha256-ndKMI4gIGE0b3XI9hXNJ5axM8YA9lXIjXuLh9Olc4hk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.1/clipboard.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <!-- Set-up variables used by markdown_editor.js -->
	<script type="text/javascript">
		var padId = "{{padId}}";
		var creationDate = '{{creationDate}}';
	</script>

    <script src="/script/jquery.caret.min.js"></script>
    <script src="/script/diff.min.js"></script>
    <script src="/script/markdown_editor.js"></script>
</head>

<body>
	<div class="head">
		<span class="head-title"> MarkdownPad </span>
		<a class="head-button" id="share" href="#" rel="nofollow"><i class="fa fa-share-alt" aria-hidden="true"></i>Copy share Url</a>
		<a class="head-button" id="new" href="/pad/newpad" target="_blank" rel="nofollow"><i class="fa fa-file-text-o" aria-hidden="true"></i>New pad</a>
	</div>
	<div class="wrapper container-fluid">
		<div class="editor-container col-xs-6">
			<div class="editor" contenteditable="true" data-placeholder="Type something...">
			</div>
		</div>
		<div class="output-container col-xs-6" >
			<div class="output">
			</div>
		</div>	
	</div>

</body>
</html>